# Configuración Base de Datos
DB_USER=admin_restaurante
DB_PASSWORD=super_secret_pg_password
DB_NAME=inventory_db

# Configuración RabbitMQ
MQ_USER=admin_mq
MQ_PASSWORD=super_secret_mq_password

# Configuración API (Para uso interno del Frontend)
REACT_APP_API_URL=http://localhost:8080/api/v1
